@define-mixin navbar {

  li {
    list-style: none;
    display: inline-block;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

@define-mixin clearfix {
  & {
    content: "";
    display: table;
    clear: both;
  }
}