.btn {
  a {
    text-decoration: none;
    padding: 0px .8rem;
    font-size: .8rem;
    background-color: $lighterPinkColor;
    transition: .3s;
    color: #FFF;
    border-radius: 1.2rem;

    @mixin atMedium {
      font-size: 1rem;
      padding: .2rem 1.2rem;
    }
  }


  &--r-margin-small a {
    margin-right: 0.8rem;
  }

  a:hover {
    background-color: $mainGrayColor;
    /* color: #847077 */
  }

  &--centered {
    display: block;
    text-align: center;
  }

  &--t-margin-large {
    margin-top: 4rem;
  }

  &--t-margin-medium {
    margin-top: 2rem;
  }

  &--padding-large a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
  }
}