.footer {
  color:#FFF;
  text-align: center;

    &__item-title-b-margin {
      margin-bottom: 2.5rem;
    }
  
  &__item-subtitle-email a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;

    &:hover {
      color: $darkPinkColor;
    }

  }

  &__item-subtitle {
    margin-bottom: 2rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }

  &__item-col2 {

    @mixin atMedium {
      border-left: 1px solid $darkPinkColor;
      border-right: 1px solid $darkPinkColor;
    }
  }

}