.get-started {
  
  text-align: center;
  font-size: 1.1rem;
  
  &--opacity:hover &__item{
    opacity: .5;
  }
  
  &--opacity &__item:hover {
    opacity: 1;
    transform:  scale(1.1);
  }

  &--hr {
    height: 3px;
    border: 0;
    box-shadow: 0 10px 10px -10px $mainPinkColor inset;
  }
  
  &__item {
    
    /* width: 40%; */
    padding-top: 20px;
    padding-bottom: 20px;
    
    a {
      text-decoration: none;
      color: $textColor;
    }

    @mixin atMedium {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__img {
    border-radius: 50%;
    width: 85%;
  }

  & > div {
    width: 100%;
  } 
  

  &__item-subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9rem;

    @mixin atMedium {
      font-size: 1.1rem;
    }

  }
}