.logo{

  width: 250px;
  margin-left: auto;
  margin-right: auto;

  &__img {
    display: block;
    margin-top: 50px;
  }

  &__subtitle {
    text-align: center;
    background-color: $mainPinkColor;
    color: #FFF;
    padding: .1rem 0;
    line-height: .6;

  }
}