.navbar {
  @mixin navbar;

  ul {
    


    @mixin atMedium {
      background-color: $mainGrayColor;
    }
  }

  li {
    float: left;
    width: 33%;

    @mixin atMedium {
      float: none;
      width: auto;
    }
  }

  li:hover {
    background-color: $mainPinkColor;
  }

  a {
    text-decoration: none;
    color: #FFF;
    transition: .3s;
    padding: .3rem 1rem;
		margin-right: 2px;
    margin-bottom: 2px;
    background-color: $mainPinkColor;
    display: block;
    font-size: .8rem;

    @mixin atSmall {
      font-size: 1rem;
      padding: .5rem 1.2rem;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    @mixin atMedium {
      width: auto;
      float: none;
      background-color: inherit;
    }
  }


  &--stick {
    @mixin atMedium {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1010;
      margin-bottom: 20px;
    }
  }

  &__current-item {

    @mixin atMedium {
      background-color: $mainPinkColor;
    }
  }
}

nav {
  /* margin-right: -10px; */

  @mixin atMedium {
    /* margin-right: auto; */
  }
}