.navbar {
  @mixin navbar;

  ul {
    background-color: $mainGrayColor;
    /* display: table; */
  }

  li {
    float: none;
    padding: 10px 20px;
    transition: .3s;
  }

  li:hover {
    background-color: $mainPinkColor;
  }

  &--stick {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
    margin-bottom: 20px;
  }

  &__current-item {
    background-color: $mainPinkColor;
  }

  a {
    text-decoration: none;
    color: #FFF;

    transition: .3s;
  }

  a:hover {
    
  }

}
