.page-section {
  /* padding-top: rem; */
  padding-bottom: 1.5rem;

  @mixin atSmall {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }

  @mixin atMedium {

    &--padding-b-large {
      padding-bottom: 3.5rem;
    }
  }
    
  &--pink {
    background-color: $mainPinkColor;
  }
}