.row {

  @mixin clearfix;

  margin-right: -45px;

  &--gutters > div {
    padding-right: 45px
  }

  &--gutters-small {
    margin-right: -10px;
  }

  &--gutters-small > div {
    padding-right: 10px;
  }

  &__medium-3 {
    float: left;
    width: 25%;
  }

  &__medium-4 {
    float: left;
    width: 33.33%;
  }
}