.wrapper {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;

  &--large {
    padding-left: 60px;
    padding-right: 60px;
  }

  &--small {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
