.wrapper {
  max-width:960px;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  /* border: 1px solid black; */

  &--narrow {
    width: 680px;
    max-width: 100%;
    margin: auto;
  }
}
